#añadir,
.boton-compra,
.boton-vaciar {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 50px;
    transition: background-color 0.3s; 
}


#añadir:hover,
.boton-compra:hover,
.boton-vaciar:hover {
    background-color: blue; 
}
.boton-vaciar {
    margin-top: 10px; 
}
